

<!DOCTYPE html>
<html lang="en">

	<title>Dashboard </title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>
    <style>
        body {
            background-color: #efefef;
        }

        .file-upload {
            display: none !important;
        }
        .circle {
            border-radius: 1000px !important;
            overflow: hidden;
            width: 128px;
            height: 128px;
            border: 8px solid rgba(255, 255, 255, 0.7);
            position: absolute;
            top: 72px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .p-image {
            position: absolute;
            top: 60%;
            right: 40%;
            color: #444242;
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        }
        .p-image:hover {
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        }
        .upload-button {
            font-size: 1.2em;
        }

        .upload-button:hover {
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            color: #999;
        }
        .card {
            padding-top: 20px;
            margin: 10px 0 20px 0;
            background-color: rgba(214, 224, 226, 0.2);
            border-top-width: 0;
            border-bottom-width: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .card .card-heading {
            padding: 0 20px;
            margin: 0;
        }

        .card .card-heading.simple {
            font-size: 20px;
            font-weight: 300;
            color: #777;
            border-bottom: 1px solid #e5e5e5;
        }

        .card .card-heading.image img {
            display: inline-block;
            width: 46px;
            height: 46px;
            margin-right: 15px;
            vertical-align: top;
            border: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .card .card-heading.image .card-heading-header {
            display: inline-block;
            vertical-align: top;
        }

        .card .card-heading.image .card-heading-header h3 {
            margin: 0;
            font-size: 14px;
            line-height: 16px;
            color: #262626;
        }

        .card .card-heading.image .card-heading-header span {
            font-size: 12px;
            color: #999999;
        }

        .card .card-body {
            padding: 0 20px;
            margin-top: 20px;
        }

        .card .card-media {
            padding: 0 20px;
            margin: 0 -14px;
        }

        .card .card-media img {
            max-width: 100%;
            max-height: 100%;
        }

        .card .card-actions {
            min-height: 30px;
            padding: 0 20px 20px 20px;
            margin: 20px 0 0 0;
        }

        .card .card-comments {
            padding: 20px;
            margin: 0;
            background-color: #f8f8f8;
        }

        .card .card-comments .comments-collapse-toggle {
            padding: 0;
            margin: 0 20px 12px 20px;
        }

        .card .card-comments .comments-collapse-toggle a,
        .card .card-comments .comments-collapse-toggle span {
            padding-right: 5px;
            overflow: hidden;
            font-size: 12px;
            color: #999;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .card-comments .media-heading {
            font-size: 13px;
            font-weight: bold;
        }

        .card.people {
            position: relative;
            display: inline-block;
            width: 170px;
            height: 300px;
            padding-top: 0;
            margin-left: 20px;
            overflow: hidden;
            vertical-align: top;
        }

        .card.people:first-child {
            margin-left: 0;
        }

        .card.people .card-top {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 170px;
            height: 150px;
            background-color: #ffffff;
        }

        .card.people .card-top.green {
            background-color: #53a93f;
        }

        .card.people .card-top.blue {
            background-color: #427fed;
        }

        .card.people .card-info {
            position: absolute;
            top: 150px;
            display: inline-block;
            width: 100%;
            height: 101px;
            overflow: hidden;
            background: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .card.people .card-info .title {
            display: block;
            margin: 8px 14px 0 14px;
            overflow: hidden;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            color: #404040;
        }

        .card.people .card-info .desc {
            display: block;
            margin: 8px 14px 0 14px;
            overflow: hidden;
            font-size: 12px;
            line-height: 16px;
            color: #737373;
            text-overflow: ellipsis;
        }

        .card.people .card-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            line-height: 29px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: rgba(214, 224, 226, 0.2);
        }

        .card.hovercard .cardheader {
            background: url("http://lorempixel.com/850/280/nature/4/");
            background-size: cover;
            height: 50%;
        }

        .card.hovercard .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
        }

        .card.hovercard .avatar img {
            width: 200px;
            height: 200px;
            max-width: 200px;
            max-height: 200px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(255,255,255,0.5);
        }

        .card.hovercard .info {
            padding: 4px 8px 10px;
        }

        .card.hovercard .info .title {
            margin-bottom: 4px;
            font-size: 24px;
            line-height: 1;
            color: #262626;
            vertical-align: middle;
        }

        .card.hovercard .info .desc {
            font-size: 20px;
            line-height: 30px;
            color: #737373;
            text-overflow: ellipsis;
        }

        .card.hovercard .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }
        #container {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        #wSummary {
            font-size: 1.7em;
        }
        #geoLoc {
            color: grey; font-size: 0.7em;
        }
        #temperatureGroup {
            padding-top: 20px; font-size: 2.6em;
        }
        .weather{
            height: 100vh;
            display: flex;
            align-items: center;
        }

    </style>
	<body>
        <div class="">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="height: 15vh !important;padding: 10px;background: #949a9a;">
                <button class="btn btn-md  btn-primary open-notepad pull-right" style="background: black;border-color: black;" id="log_out"> Logout</button>
            <!-- <label class="pull-right" style="padding:10px;">Amit Bhadra</label> -->
            </div>
            <div class="row" style="height:85vh">
                <div class="col-sm-5" style="height:100%">
                    <div class="card hovercard" style="height:100%;margin: 0;">
                        <div class="cardheader">
                        </div>
                        <div style="position:relative">
                            <div class="avatar">
                                <img  class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS6ofMc6a91NNxknmQrIE0pZdYLwHz9AkKoc14x_7MMyisWWxh9">
                            </div>
                            <div class="p-image">
                                <i class="fa fa-edit upload-button" data-toggle="modal" data-target="#uploadModal"></i>
                            </div>
                        </div>
                        <div class="info">
                            <div class="desc"><%=name%></div>
                            <div class="desc"><%=email%></div>
                        </div>
                        <div>
                            <button  class="btn btn-md  btn-primary open-notepad" type="button"> Notes</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 weather">
                    <div id="container">
                        <div>
                            <img id="wIcon" width="128" height="128" >
                        </div>
                        <div id="wSummary"></div>
                        <div id="geoLoc"></div>
                        <div id="temperatureGroup">
                            <span id="wTemp"></span><span>&deg;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile picture upload </h4>
            </div>
            <div class="modal-body">
                <form method='post' action='' enctype="multipart/form-data">
                Select file : <input type='file' name='file' id='file' class='form-control' ><br>
                <input type='button' class='btn btn-info upload-image' value='Upload' id='btn_upload'>
                </form>
                <div>OR</div>
                <form method='post' action='' enctype="multipart/form-data">
                    Enter URL : <input type='text' name='file' id="image-url" class='form-control' ><br>
                    <input type='button' class='btn btn-info upload-image-url' value='Upload' id='btn_upload'>
                </form>
            </div>
            </div>
        </div>
        </div>
        
	</body>
	<script>
		$(document).ready(function() {
            var ImageURL = "";
            var readURL = function(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        ImageURL = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#file").on('change', function(){
                readURL(this);
            });

            $(".btn_upload").on('click', function() {
                $("#file").click();
            });
            $(".open-notepad").on('click', function() {
                window.location="/notes/page";
            });
            $(".upload-image").on('click', function() {
                if(ImageURL){
                    $('.profile-pic').attr('src', ImageURL);
                    $('#uploadModal').modal('hide');
                    $('#file').val('');
                }else{
                    swal('','Please Select Image', "error");
                }
            });
            $(".upload-image-url").on('click', function() {
                ImageURLLink = $('#image-url').val();
                if(ImageURLLink){
                    $('.profile-pic').attr('src', ImageURLLink);
                    $('#uploadModal').modal('hide');
                    $('#image-url').val('');
                }else{
                    swal('','Please Enter URL', "error");
                }
            });

            $("#log_out").on('click', function() {
                document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = '/';
            });

            // $.ajax({
            //     url: `/weather`, 
            //     type: 'GET',
            //     contentType: 'application/json',
            //     success: function(result){
            //         var outJson = result;
            //         $('#wIcon').attr('src', outJson.current.weather_icons);
            //         $("#wSummary").text(outJson.current.weather_descriptions);
            //         $("#geoLoc").text(outJson.location.lat + "," + outJson.location.lon);
            //         $("#wTemp").html(String(outJson.current.temperature));
            //     }
            // });
            var outJson = {"request":{"type":"IP","query":"103.199.136.227","language":"en","unit":"m"},"location":{"name":"Chinchpokli","country":"India","region":"Maharashtra","lat":"18.983","lon":"72.833","timezone_id":"Asia\/Kolkata","localtime":"2019-11-17 17:53","localtime_epoch":1574013180,"utc_offset":"5.50"},"current":{"observation_time":"12:23 PM","temperature":33,"weather_code":122,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"],"weather_descriptions":["Smoke"],"wind_speed":11,"wind_degree":350,"wind_dir":"N","pressure":1011,"precip":0,"humidity":49,"cloudcover":0,"feelslike":37,"uv_index":7,"visibility":3,"is_day":"yes"},"forecast":{"2019-11-17":{"date":"2019-11-17","date_epoch":1573948800,"astro":{"sunrise":"06:47 AM","sunset":"06:00 PM","moonrise":"10:18 PM","moonset":"10:58 AM","moon_phase":"Waning Gibbous","moon_illumination":56},"mintemp":28,"maxtemp":32,"avgtemp":30,"totalsnow":0,"sunhour":11.5,"uv_index":7,"hourly":[{"time":0,"temperature":32,"wind_speed":11,"wind_degree":161,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":65,"visibility":10,"pressure":1013,"cloudcover":20,"heatindex":33,"dewpoint":22,"windchill":30,"windgust":15,"feelslike":33,"chanceofrain":0,"chanceofremdry":82,"chanceofwindy":0,"chanceofovercast":37,"chanceofsunshine":63,"chanceoffrost":0,"chanceofhightemp":97,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]},"2019-11-18":{"date":"2019-11-18","date_epoch":1574035200,"astro":{"sunrise":"06:47 AM","sunset":"06:00 PM","moonrise":"11:19 PM","moonset":"11:52 AM","moon_phase":"Waning Gibbous","moon_illumination":48},"mintemp":24,"maxtemp":34,"avgtemp":30,"totalsnow":0,"sunhour":11.5,"uv_index":7,"hourly":[{"time":0,"temperature":34,"wind_speed":10,"wind_degree":168,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":57,"visibility":10,"pressure":1013,"cloudcover":8,"heatindex":33,"dewpoint":21,"windchill":30,"windgust":13,"feelslike":33,"chanceofrain":0,"chanceofremdry":91,"chanceofwindy":0,"chanceofovercast":39,"chanceofsunshine":61,"chanceoffrost":0,"chanceofhightemp":93,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]},"2019-11-19":{"date":"2019-11-19","date_epoch":1574121600,"astro":{"sunrise":"06:48 AM","sunset":"06:00 PM","moonrise":"No moonrise","moonset":"12:42 PM","moon_phase":"Last Quarter","moon_illumination":41},"mintemp":23,"maxtemp":33,"avgtemp":29,"totalsnow":0,"sunhour":11.5,"uv_index":7,"hourly":[{"time":0,"temperature":33,"wind_speed":12,"wind_degree":165,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":55,"visibility":10,"pressure":1012,"cloudcover":3,"heatindex":32,"dewpoint":20,"windchill":29,"windgust":15,"feelslike":32,"chanceofrain":0,"chanceofremdry":87,"chanceofwindy":0,"chanceofovercast":46,"chanceofsunshine":54,"chanceoffrost":0,"chanceofhightemp":74,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]},"2019-11-20":{"date":"2019-11-20","date_epoch":1574208000,"astro":{"sunrise":"06:49 AM","sunset":"05:59 PM","moonrise":"12:19 AM","moonset":"01:30 PM","moon_phase":"Last Quarter","moon_illumination":33},"mintemp":27,"maxtemp":34,"avgtemp":30,"totalsnow":0,"sunhour":0,"uv_index":7,"hourly":[{"time":0,"temperature":34,"wind_speed":10,"wind_degree":149,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":55,"visibility":10,"pressure":1011,"cloudcover":4,"heatindex":32,"dewpoint":20,"windchill":30,"windgust":12,"feelslike":32,"chanceofrain":0,"chanceofremdry":91,"chanceofwindy":0,"chanceofovercast":31,"chanceofsunshine":69,"chanceoffrost":0,"chanceofhightemp":48,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]},"2019-11-21":{"date":"2019-11-21","date_epoch":1574294400,"astro":{"sunrise":"06:49 AM","sunset":"05:59 PM","moonrise":"01:20 AM","moonset":"02:15 PM","moon_phase":"Last Quarter","moon_illumination":26},"mintemp":27,"maxtemp":32,"avgtemp":29,"totalsnow":0,"sunhour":0,"uv_index":7,"hourly":[{"time":0,"temperature":32,"wind_speed":9,"wind_degree":151,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":59,"visibility":10,"pressure":1012,"cloudcover":13,"heatindex":31,"dewpoint":20,"windchill":29,"windgust":11,"feelslike":31,"chanceofrain":0,"chanceofremdry":84,"chanceofwindy":0,"chanceofovercast":36,"chanceofsunshine":64,"chanceoffrost":0,"chanceofhightemp":48,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]},"2019-11-22":{"date":"2019-11-22","date_epoch":1574380800,"astro":{"sunrise":"06:50 AM","sunset":"05:59 PM","moonrise":"02:19 AM","moonset":"02:58 PM","moon_phase":"Waning Crescent","moon_illumination":18},"mintemp":27,"maxtemp":31,"avgtemp":29,"totalsnow":0,"sunhour":0,"uv_index":7,"hourly":[{"time":0,"temperature":31,"wind_speed":10,"wind_degree":149,"wind_dir":"SSE","weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly cloudy"],"precip":0,"humidity":61,"visibility":10,"pressure":1013,"cloudcover":22,"heatindex":32,"dewpoint":21,"windchill":29,"windgust":13,"feelslike":32,"chanceofrain":0,"chanceofremdry":88,"chanceofwindy":0,"chanceofovercast":47,"chanceofsunshine":53,"chanceoffrost":0,"chanceofhightemp":48,"chanceoffog":0,"chanceofsnow":0,"chanceofthunder":0,"uv_index":7}]}}};
            
            $('#wIcon').attr('src', outJson.current.weather_icons);
            $("#wSummary").text(outJson.current.weather_descriptions);
            $("#geoLoc").text(outJson.location.lat + "," + outJson.location.lon);
            $("#wTemp").html(String(outJson.current.temperature));

            
        });
        
            

            
            
    
        
        
    </script>
    <!-- <script type="application/javascript" src="http://ipinfo.io/?format=jsonp&callback=getIP"></script> -->
</html>